*{
    padding: 0;
    margin: 0;
}
body{
    
    margin: 2vw;
    padding: 1vw 3vw;
    border: 1px solid black;
    border-radius: 2vw;
}
.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}
h1{
    margin: 1vw auto;
}
input{
    width: 50%;
    padding: 1vw 1.5vw;
    margin: 2vw auto;
    border-radius: 1vw;
}
button{
    width: 10%;
    padding: 0.5vw 2vw ;
    border-radius: 1vw;
}
hr{
    margin: 2vw auto;

}
.catg{
    text-align: center;
}
h2{
    font-size: 250%;
    color: aqua;
}
.catg1{
    display: flex;
    margin: 2vw auto;
    /* padding: auto 1vw; */
    justify-content: space-around;
    
}
.catg2{
    display: flex;
    margin: 2vw auto;
    justify-content: space-around;
}
.quz{
    border: 2px solid rgb(36, 101, 171);
    border-radius: 1vw;
    padding: 0.5vw 1vw;
    width: 35%;
    background-color: rgb(132, 217, 230);
}
a{
    text-decoration: none;
    width: 35%;
}
