*{
    padding: 0;
    margin: 0;
}
header{
    text-align: center;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0%;
    background-color: aqua;
    padding: 1vw;
}
.timer{
    width: 5vw ;
    height: 5vw;
    position: relative;
    border: 2px solid black;
    border-radius: 50%;
    background-color: blanchedalmond;
}
.timer p {
    font-size: 2.8vw;
    position: absolute;
    top: 17%;
    right: 8%;
}
.score {
    width: 15vw;
    padding: 1vw;
    border: 2px solid black;
    background-color: blanchedalmond;
    border-radius: 2vw;
    font-size: 3vw;
}
#start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: 5vw auto;
}
#ques {
    display: none;
    width: 80vw;
    position: relative;
    border: 2px solid black;
    border-radius: 1vw;
    text-align: center;
    margin: 5vw auto;
    padding: 3vw 2vw 0vw 2vw;
}    
.quesNo {
    width: 7vw;
    height: 7vw;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    right: 40vw;
    top: -4vw;
    background-color: aqua;
}
.quesNo p {
    position: absolute;
    top: 1.9vw;
    font-size: 2.7vw;
    left: 0.8vw;
    
}
.Question {
    margin: 1vw auto;
    padding: 1vw 7vw;
    font-size: larger;
}
hr{
    height: 0.1vw;
    background-color: black;
    margin: 2vw 0vw;
}
.option{
    display: flex;
}
.disabled{
    pointer-events: none;
}
.opt{
    width: 20vw;
    /* height: 2vw; */
    border: 2px solid black;
    border-radius: 2vw;
    padding: 1vw;
    font-size: 1.8vw;

    
}
.opt:hover {
    background-color: yellow;
    cursor: pointer;
}
#btn{
    width: 20vw;
    /* height: 2vw; */
    border: 2px solid black;
    border-radius: 2vw;
    padding: 1vw;
    font-size: 1.8vw;
    margin: 2vw auto;
    color: white;
    background-color: aqua;
}
#btn:hover{
    cursor: pointer;
}
.tt {
    
    width: 20vw;
    /* height: 2vw; */
    border: 2px solid black;
    border-radius: 2vw;
    padding: 1vw;
    font-size: 1.8vw;
    margin: 2vw auto;
    color: white;
    background-color: aqua;
}
#result {
    display: none;
    text-align: center;
    margin: 2vw auto;
}